* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "aktiv-grotesk", Arial, Â sans-serif;
}
.btn-close {
    position: absolute;
    right: 25px;
    color: black;
    cursor: pointer;
}


.page {
    position: relative;
    display: flex;
    flex-direction: column;
}
.Container {
    background-color: #eaeaea;
    width: 100%;
    padding: 10px;
    height: 41rem;
}



.Container-heading {
    box-sizing: border-box;
    display: flex;
    margin-top: 3.5em;
    padding: 10px;
    margin-left: 10px;
    align-items: center;
    justify-content: space-between;
}



label {
    display: flex;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 18px;
}
/* Form Styling */
.input-form {
    margin: 0px 0px 0px 20px;
    box-sizing: border-box;
}



.Quiz-name {
    display: flex;
    width: 90%;
    text-align: center;
    align-items: center;
    text-align: center;
}




.form-input {
    margin-bottom: 20px;
    margin-left:20px;
}



input[type="text"] {
    width: 30rem;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-left: 10px;
    /* margin-bottom: 20px; */
}

.Question-Text {
    align-items: center;
}



textarea {
    width: 90%;
    height: 75px;
    padding: 10px;
    margin-left: 10px;
}



input[type="checkbox"] {
    margin-left: 30px;
    width: 25px;
    height: 25px;
    align-items: center;
}





.input-options {
    display: flex;
    align-items: center;
}



/* Form Button */

.button {
    width: 80px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    margin: 6px;
    border: solid 1px;
    background-color: #fd5f07;
    color: black;
    cursor: pointer;
    text-align: center;
}

.Form-actions {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3vh;
}



.btn {
    background-color: transparent;
    width: 10rem;
    padding: 8px 20px;
    border: 1px solid #000;
    font-weight: 600;
    font-size:15px;
}



.active {
    background-color: #fd5f07;
    color: #fff;
}

.btn-back {
    position: absolute;
    right: 25px;
    color: black;
    cursor: pointer;
}

input[type="time" i] {
    align-items: center;
    display: inline-flex;
    /* font-family: monospace; */
    padding-inline-start: 1px;
    cursor: default;
    margin-left: 10px;
    overflow: hidden;
    padding: 10px;
    font-size: 15px;
    width: 10rem;
    height: 38px;
}
