@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization

<NavBar />

<AuthorizeView>
    <Authorized>
        <div class="page">
            <main>
                 @Body
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <NavBar></NavBar>
        <br />
        <Tool.Client.Pages.Loginpage></Tool.Client.Pages.Loginpage>
        
    </NotAuthorized>
</AuthorizeView>