@inject NavigationManager NavigationManager

<div class="navbar">
    <div class="nav">
        <div class="nav-brand">
            <a><img src="/logo.png" alt="website-logo" /></a>
        </div>
        <h1 class="nav-title">Certification Tool</h1>
        @if (NavigationManager.Uri != null && NavigationManager.Uri.Equals("https://localhost:7226/homepage"))
        {
            <div class="nav-item">
                <a href="/logout" class="logout-btn">Logout</a>
            </div>
        }
    </div>
</div>